.card {
  border: none;
  border-radius: 0.8rem;
  padding: 2rem;
  .card-body {
    padding: 0;
  }
}

.card-with-photo {
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  .row {
    margin: 0 -1.25rem;
    .col-sm-12 {
      padding: 0 1.25rem;
    }
  }
  .card-image {
    width: 200px;
    height: 200px;
    border: 1px solid $gray-300;
  }
  .card-body {
    font-size: 1rem;
    text-align: justify;
    .card-title {
      font-size: 2.5rem;
    }
  }
}

.card-button {
  text-align: center;
  height: 0;
  a {
    position: relative;
    bottom: -1rem;
  }
}

.card--intro {
  background-color: rgba(#080f6d, 0.5);
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.25);
  .card-image {
    width: 100px;
    height: auto;
  }
  .card-body {
    color: $gray-300;
    margin-left: 1rem;
    padding: 1rem;
    font-size: 2.25rem;
    .card-title {
      font-size: 6rem;
    }
  }
}

.card--about {
  margin-bottom: 2rem;
  .card-more {
    margin-top: 2rem;
    border-top: 1px solid $gray-300;
    .card-body {
      margin: 2rem 0 0.5rem 0;
      padding: 0;
    }
  }
}

.card--authorities {
  margin-bottom: 4rem;
}

@include media-breakpoint-down(md) {
  .card--intro {
    .card-body {
      .card-title {
        font-size: 4rem;
      }
      .card-subtitle, .card-text {
        font-size: 2rem;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .card {
    width: 90%;
    margin: auto;
  }
  .card--intro {
    .card-image {
      width: 50px;
      height: auto;
    }
    .card-body {
      .card-title {
        font-size: 1.75rem;
      }
      .card-subtitle, .card-text {
        font-size: 1.25rem;
      }
    }
  }
  .card-with-photo {
    padding: 2rem;
    .card-image {
      display: block;
      margin: 0 auto 2rem auto;
    }
    .card-body {
      .card-title {
        font-size: 1.8rem;
      }
    }
  }
  .card--about {
    margin-bottom: 1rem;
  }
  .card--authorities {
    margin-bottom: 2.5rem;
  }
}