.card {
  box-shadow: $box-shadow;
  border: none;
  border-radius: 0.8rem;
  padding: 2rem;
  .card-body {
    padding: 0;
  }
}

.card-with-horizontal-image {
  padding: 2.5rem;
  .row {
    margin: 0 -1.25rem;
    .col-sm-12 {
      padding: 0 1.25rem;
    }
  }
  .card-image {
    width: 200px;
    height: 200px;
    border: 1px solid $gray-300;
  }
  .card-body {
    font-size: 1rem;
    text-align: justify;
    .card-title {
      font-size: 2.5rem;
    }
  }
}

.card-with-vertical-image {
  padding: 0rem;
  font-size: 1.25rem;
  text-align: center;
  .card-body {
    .card-title {
      margin: 0.75rem;
    }
  }
}

.card-with-icon {
  background-color: $primary;
  background: $gradient-primary;
  color: $white;
  text-align: center;
  .card-icon {
    font-size: 4.5rem;
    line-height: 0;
  }
  .card-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
  }
}

.card-button {
  text-align: center;
  height: 0;
  a {
    position: relative;
    bottom: -1rem;
  }
}

.card-section {
  box-shadow: $box-shadow;
  background-color: $white;
  border-radius: 0.8rem;
  padding: 2rem;
  margin-bottom: 4rem;
  &:last-child {
    margin-bottom: 0;
  }
  .card-section-title {
    font-size: 2rem;
    font-weight: 400;
    margin-left: -0.5rem;
    margin-bottom: 1.5rem;
  }
  .card {
    box-shadow: $box-shadow-sm;
  }
}

@include media-breakpoint-down(sm) {
  .card, .card-section {
    width: 90%;
    margin: auto;
  }
  .card-section {
    margin-bottom: 2rem;
    .card-section-title {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 0.5rem;
    }
  }
  .card-with-horizontal-image {
    padding: 2rem;
    .card-image {
      display: block;
      margin: 0 auto 2rem auto;
    }
    .card-body {
      .card-title {
        font-size: 1.8rem;
      }
    }
  }
}