.cta {
  position: relative;
  bottom: 125px;
  font-size: 1.25rem;
  text-align: center;
  a {
    display: block;
    margin: auto;
    &:hover {
      text-decoration: none;
    }
    span {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: lighter;
    }
    i {
      font-size: 1.5em;
    }
  }
}

.cta--intro {
  a {
    width: 180px;
    color: $gray-300;
    &:hover, &:focus {
      color: $white;
    }
  }
}