.hero {
  min-height: 800px;
  height: 100vh;
}

.hero--primary {
  background: $black;
  background-image: url("../../../assets/images/backgrounds/bg-clear1.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}