.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: background-color 0.15s ease 0s;
  border-radius: inherit;
  &:hover {
    background-color: rgba($primary, 0.7);
    i {
      opacity: 1;
    }
  }
  i {
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    color: $white;
    font-size: 2rem;
  }
}