.section {
  padding: 4rem 0;
  .section-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4.5rem;
    &:after {
      content: "";
      background: $primary;
      display: flex;
      margin: 0 auto;
      width: 8em;
      height: 2px;
      top: 10px;
      position: relative;
    }
  }
}

@include media-breakpoint-down(sm) {
  .section {
    .section-title {
      font-size: 2rem;
    }
  }
}