.social-media {
  font-size: 2rem;
  a {
    display: inline-block;
    padding: 0 2rem;
    color: $primary;
    &:hover, &:focus {
      color: darken($primary, 15%);
    }
  }
}

@include media-breakpoint-down(sm) {
  .social-media {
    a {
      padding: 0 1.5rem;
      i {
        width: 48px;
      }
    }
  }
}