.typed-cursor {
  margin-left: 0.5rem;
  opacity: 1;
}

.typed-cursor--blink {
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}