@import "variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "layout/navbar";
@import "layout/footer";
@import "base/global";

@import "components/hero";
@import "components/card";
@import "components/typed";
@import "components/cta";